name: LaTeX Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint LaTeX with chktex
        uses: j2kun/chktex-action@v1
        with:
          file: Ayush_Jaipuriyar.tex